.xrplaygroundeditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  .header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .live {
    flex: none;
    max-height: 40%;
    padding: 20px 12px;
    position: relative;
    .errormask {
      margin: 0;
      padding: 10px;
      white-space: inherit;
    }
  }
  .code {
    flex: 1;
    padding: 6px;
    overflow: auto;
    border-top: 1px solid var(--area2);
    textarea:focus, textarea:active {
      outline: none;
      box-shadow: none;
    }
  }
}