.xrplaygroundmenu {
  height: 32px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 14px;
  background-color: var(--area1);
  -webkit-tap-highlight-color: transparent;
  .menuitem {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      background-color: var(--area1);
    }
    &.disabled {
      color: var(--font2);
    }
  }
}