.playground {
  margin-top: 0;
  margin-bottom: 16px;
  position: relative;
  .liveBox {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    overflow: auto;
    border-radius: 6px;
    background-color: #f6f8fa;
    -webkit-overflow-scrolling: touch;
  }
  .space {
    height: 2px;
    background-color: transparent;
  }
  .tools {
    position: absolute;
    right: 6px;
    top: 6px;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 6px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.1);
    font-size: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .tool {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    &.disabled {
      opacity: .3;
    }
  }
}

.playground.dark {
  .liveBox {
    background-color: #282c34;
  }
  .tools {
    background-color: rgba(255,255,255,.1);
  }
  .modal {
    background-color: rgba(255,255,255,.2);
    .editTools {
      background-color: #282c34;
    }
  }
}
