.xrplayground {
  margin-top: 0;
  margin-bottom: 16px;
  min-height: 32px;
  position: relative;
  color: var(--font);
  background-color: var(--base1);
  .header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .boxes {
    .box:not(:first-child) {
      border-top: 1px solid var(--area2);
    }
    .live {
      padding: 20px 12px;
      position: relative;
    }
    .code {
      pre {
        margin-bottom: 0;
      }
    }
  }
}